<div class="container-fluid">
    <div class="card text-center">
<p>
  <strong>Date:</strong>
  <%= @stat.date %>
</p>

<p>
  <strong>Water:</strong>
  <%= @stat.weight %><strong>L</strong>
</p>

<p>
  <strong>Comments:</strong>
  <%= @stat.comments %>
</p>

<%= link_to 'Edit', edit_stat_path(@stat) %> <br />
<%= link_to 'Back', stats_path %>
  </div>
</div>
